<div class="container">
    <div class="row blog-header">
        <div class="col-md-9">
            <div class="row blog-title blog">
                <div class="col-md-12">
                    <h1>
                        {{ item.title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row blog">
        <div class="col-md-9">
            {{ blog.content|raw }}
        </div>
        <div class="col-md-3 right-content">

        </div>
    </div>
    <div class="row blog-footer">
        <div class="col-md-9">

        </div>
    </div>
</div>


